*{
    margin: 0px;
    padding: 0px;
    align-items: center ;
    font-family: verdana;
    
}

.nav_container{
    display: flex;
    justify-content: space-between;
}
.nav_hero{
    /border: solid 1px red;/
    background-color:rgb(255, 0, 0);
}
#img_logo{
    margin: 0px;
    padding: 0px;
}
.links{
    display: inline-block ;
    color:black;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
    background-color: rgb(255, 0, 0); 
    border: 0;
    cursor:pointer;
}
.boton_ubicacion{
    margin: 0px;
    padding: 0px;
    background-color:rgb(255, 0, 0);
    border: 0px;
}
.img{
    width: 100%;
    height: 100%;
}
.menu_link{
    text-decoration: none;
    color:  #707070;
    text-align: initial;
    background-color: rgb(255, 0, 0); 
    border: 0;
    cursor:pointer;
}
.menu_links{
    text-decoration: none;
    color: black;
    text-align: initial;
    background-color: rgb(255, 0, 0); 
    border: 0;
    cursor:pointer;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buscador{
    background-color: #ffffff;
    height: 35px;
    width: 600px;
    margin: solid 1px  #707070;
    justify-content: space-between;
    /border: solid 1px #707070;/
    border-radius: 3px;
}
.bus_lupa{
    align-items: flex-end;
}
.Des_buscador{
    color: #666;
}
.menu_perfil{
    color: black;
}
.conteiner{
    width: 95%;
    height: auto;
    margin: 0 auto;
}
.boton_ubicacion, .bus_lupa{  
    cursor:pointer;
}


table{
    width: 100%;
    
}

h1{
    color: rgb(0, 0, 0);
    left: 100px;
}
h2{
    color: rgb(0, 0, 0);
}
h3{
    color: rgb(0, 0, 0);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #ff0000;
    
}
p {
    text-align: center;
  }